.testo {
    margin: 50px auto;
    text-align: center;
    font-family: 'Makhrazi';
    background-color: #495E57;
    padding: 30px 10px;
}

.testo h1 {
    color: #F4CE14;
    font-size: 40px;
}

.testo img {
    width: 100%;
    border-radius: 10px;    
}

.testo .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
    margin: 0 auto;
}

.testo .item {
    padding: 10px;
    background-color: white;
    margin: 5px;
}

